<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Busqueda</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<form id="busqueda2">
		  Busqueda: <input type="text" name="busqueda" id="busqueda">
		  <input type="button" value="Buscar" id="buscar">
		</form>
	</body>

    <table class="tabla" id="tablaT">
        <thead>
        <tr>
            <th scope="col">Tweet</th>
            <th scope="col">Score</th>
            <th scope="col">Magnitud</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
                        
	<script src="/js/main.js"></script>
	
</html>