<!DOCTYPE html>
<html>
<head>
	<title></title>
       
        <!-- animacion boton menu responsivo bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
    <script type="text/javascript" src="js/jquery.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Hola estilos CSS-->
    <link rel="stylesheet" type="text/css" href="css/estilos.css"> 
    <!-- Hola Java Script -->
    <script src="js/menu.js"></script> 
</head>
<body>
    <!--Pagina de menu -->
    <div class="content-center">
        <div class="row">
            <div class="vacio">
                <div class="contenedor-kalem">
                    <div class="contenedor-nav">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Barra responsiva -->
                            <div class="div-kalem col-md-6" id="menu">
                                <h1>Kalem</h1>
                            </div>
                                <div class="nav-menu col-md-6">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <!-- Elementos del navbar-->
                                        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                                            <ul class="navbar-nav  ">
                                                <li class="nav-item">
                                                    <div class="btn-1">
                                                        <a class="navegacion" href="#page1">
                                                            <h5>About us</h5>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <div class="btn-1">
                                                        <a class="navegacion" href="report">
                                                            <h5>Report</h5>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <div class="btn-1">
                                                        <a class="navegacion" href="#page2">
                                                            <h5>Contact</h5>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <div class="btn-1">
                                                        <a class="navegacion" href="login">
                                                            <h5>Login</h5>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <div class="btn-1">
                                                        <a class="navegacion" href="login">
                                                            <h5>Sign Up</h5>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                        </nav>
                    </div>
                </div>
                <div class="jumbotron">
                  <h1 class="display-4">Hello, world!</h1>
                  <p class="lead">Improve your marketing</p>
                  <hr class="my-4">
                  <p>Start the search</p>
                
                 <form method="post" action="S">
          <input type="text" placeholder="Ingrese su busqueda" name="busqueda">
            <input type="submit" value="enviar">
            
        </form>
                 
                </div>
            </div>
        </div>

    </div>

   
	<!-- Page1 About us -->
    <div class="content-page1">
       
            <section class="pagina1" id="page1">
                <div>
                <div class="row">
                <div class="contenedor-nav">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="Contact col-md-6">
                            <h1>About us</h1>
                        </div>
                        <div class="nav-menu col-md-6">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                                    <ul class="navbar-nav  ">
                                        <li class="nav-item">
                                            <div class="btn-1">
                                                <a class="navegacion" href="#menu">
                                                    <h5>Home</h5>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="btn-1">
                                                <a class="navegacion" href="#page2">
                                                    <h5>Contacto</h5>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                              </div>
                        </div>
                    </nav>
                </div>
            </div>
            </div>
            <!-- Slide -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="css/imagen11.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="css/imagen7.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="css/imagen8.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!-- Texto About us -->
            <div class="Texto-Aboutus">
                 <div class="jumbotron">
                  <h1 class="display-4">Hello, world!</h1>
                  <p class="lead">Improve your marketing</p>
                  <hr class="my-4">
                  
                  
                </div>
            </div>
            </section>
        
       
    </div>
	<!-- Pagina2 "Contact" -->
	<div class="content-page2">
       
            <section class="pagina2" id="page2">
                <div>
                <div class="row">
                <div class="contenedor-nav">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="Contact col-md-6">
                            <h1>Contact</h1>
                        </div>
                        <div class="nav-menu col-md-6">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            
                                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                                    <ul class="navbar-nav  ">
                                        <li class="nav-item">
                                            <div class="btn-1">
                                                <a class="navegacion" href="#menu">
                                                    <h5>Home</h5>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <div class="btn-1">
                                                <a class="navegacion" href="#page1">
                                                    <h5>About us</h5>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                              </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="contenedor-contacto">
                <div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="central-contacto col-md-4">
                        <div class="container">
                            <form id="contact" action="" method="post">
                                <h3>Contact</h3>
                                <h4>Contact us today, and get reply with in 24 hours!</h4>
                                <fieldset>
                                    <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                                </fieldset>
                                <fieldset>
                                    <input placeholder="Your Email Address" type="email" tabindex="2" required>
                                </fieldset>
                                <fieldset>
                                    <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
                                </fieldset>
                                <fieldset>
                                    <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
                                </fieldset>
                                <fieldset>
                                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                </div>
            </div>
            </div>
            </section>
        
       
    </div>
</body>
</html>